body{
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        background-color: rgb(189, 122, 233);
        text-align: center;
        padding: 20%;
    h1{
        color: black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    input {
        padding: 10%;
        width: 250%;
    }
    button {
       padding: 10% 15%;
       margin: 5%;
       cursor: pointer;
       border: none;
       border-radius: 5%;
    }
    #agregarBtn {
       background-color: #77ca7a;
       color: white;
    }

    #borrarTodoBtn {
       background-color: #e24f4f;
       color: white;
    }
    ul {
       list-style: none;
       padding: 0;
    }

li {
       background: #fff;
       margin: 5% auto;
       padding: 10%;
       width: 300%;
       display: flex;
       justify-content: space-between;
       border-radius: 5%;
    }
    .eliminarBtn {
       background-color: #ff9800;
       color: white;
       border: none;
       padding: 5%;
       border-radius: 3%;
       cursor: pointer;
    }
}
